@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body{
 font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
 background: #f1f1f1; 
 padding-top: 65px;
}
/*CSS PARA EL FOOTER*/
html,body, #wrap{
  height: 100%; /*permite que tome el 100% de la pantalla*/
}
body > #wrap{height: auto; min-height: 100%;} /*mantiene como minimo el 100% de alto de la pantalla*/
#main{padding-bottom:50px; } /*Este padding sera el margen negativo y la altura del footer*/
#footer{
  position: relative;
  margin-top: -50px; /*tomando valor negativo del padding del main*/
  height: 50px; /*altura igual que el padding para el footer*/
  clear:both;
  /*colores y diseno al footer*/
  background: #d2d2d2;
  border-top: 1px solid #bebebe;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}
/*clase que elimina elementos flotantes*/
.clearf{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.clearf{display: inline-block;}
html .clearf{height: 1%;}
.clearf{display: block;}
/*Fin de la clase para el FOOTER*/

.navbar{
  min-height: 60px;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 1px 3px 1px rgba(150,150,150,0.1);
  -webkit-box-shadow: 0 1px 3px 1px rgba(150,150,150,0.1);
}
.has-feedback > span.remove{
	position: absolute;
	right: 12px;
}
span.remove:hover{
	cursor:pointer;
}
.navbar-toggle-left,
.navbar-toggle-right {
    margin: 5px;
}

.navbar-toggle-left { float: left !important; }

.navbar-toggle-right { float: right !important; }

.navbar-banner {
    position: absolute;
    width: 100%;
    text-align: center;
}
/*Navegacion lateral*/
.sign-hide{
  padding-right: 10px
}
.nav-left-hide{
    display: none;
}
  /*Titulo de nav lateral*/
  .nav  .menu{
    padding: 14px 13px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;

  }
/**/
.navbar-banner > .navbar-brand {
    float: none !important;
    line-height: 50px;
}
/*Brand centrado*/
.navbar-brand-centered {
    position: absolute;
    left: 46%;
    padding: 0px 10px;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
@media(max-width: 1145px){
  .navbar-brand-centered {
    position: absolute;
    left: 42%;
    padding: 0px;
  }
}
@media(max-width: 768px){
  .navbar-brand-centered {
    position: absolute;
    left: 36%;
    padding: 0px;
  }
}
@media(max-width: 480px){
  .navbar-brand-centered {
    position: absolute;
    left: 30%;
    padding: 0px;
  }
}
#tiempo{
  padding-bottom: 4px;
}
.panel { 
  border-left:1px solid #d3d3d3; 
  border-right:1px solid #d3d3d3; 
  box-shadow: 0 1px 1px 1px rgba(150,150,150,0.1);
  -webkit-box-shadow: 0 1px 1px 1px rgba(150,150,150,0.1);
  width: 100%;/*cuando se utiliza sin las clases col*/
  word-wrap:break-word;  
}
.mg-panel{
  margin-bottom: 0px;
}
@media(max-width: 767px){
  .panel{    
    width: 100%;
  }
}

.panel-heading .icon{
  font-size: 18px;
}
/*Clase que modifica parte del css del nav-pilss menu lateral desktop*/
.submenu > li > a {
  border-radius: 0px;
}
.submenu > li + li {
  margin-left: 0px;
}
 .submenu > li.activo > a,
 .submenu > li.activo > a:hover,
 .submenu > li.activo > a:focus {
  color: #000;
  background-color: #eeeeee;
}
/*fin de la clase*/

.fecha{
  padding-bottom: 3px;
}

h2.titulo{
	text-align: center;
	padding-bottom: 10px;
   border-bottom: 1px solid #dedede;
}
/*CSS DE LOS PANELES*/
.clickable{
    cursor: pointer;   
}

.panel-heading div {
  margin-top: -18px;
  font-size: 15px;
}
.panel-heading div span{
  margin-left:5px;
}
/*CSS PERFIL CITA*/
.profile 
{
  min-height: 215px;
  display: inline-block;
}
.avatar{
  margin-top: 31px;
}
.index{
	text-align: center;
}
.index > p{
	font-size: 16px;
}
.index > p > i{
	font-size: 20px;
}

/*CSS LOGIN*/
.container-login {
    min-height: 0;
    max-width: 480px;
    color: #333333;
    margin-top: 40px;
    padding: 0;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
.tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding: 10px 30px;    
    box-shadow: 0 1px 3px 1px rgba(150,150,150,0.1);
    -webkit-box-shadow: 0 1px 3px 1px rgba(150,150,150,0.1);
}
.container-login h2 {
    c olor: #ea533f;
    color: #2e6da4;
}
.form-co ntrol {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login button {
    color: #ffffff;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.margen-bottom{
	margin-bottom: 15px;
}
.tabla-cita{
	margin-bottom: 15px;
}
.table > thead > tr > td.white,
.table > tbody > tr > td.white,
.table > tfoot > tr > td.white,
.table > thead > tr.white > td,
.table > tbody > tr.white > td,
.table > tfoot > tr.white > td{
  background-color: #fff;
}
.italic{
	font-style: italic;
}
/*PANEL INFO CITAS*/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0px 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.show-info > li > a{
	position: relative;
  	display: block;
	padding:8px 12px;
}
.show-tabs > li{
	margin-bottom: -1px;
}
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}